{% extends "base.html" %}
{% block content%}

<h1 class="text-center">Sold Products</h1><br>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity sold</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit cost</th>
                <th scope="col">Unit price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
          <th scope="row"></th> 
                <td>{{ sold_items['Name']}}</td>
                <td >{{ sold_items["Quantity sold"]}}</td>
                <td >{{ sold_items['Unit']}}</td>
                <td >{{ sold_items['Unit cost'] }}</td>
                <td >{{ sold_items['Unit price'] }}</td>
                <td ></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}